version: "3.9"

services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: productdb
    networks:
      - microservices-net

  mongo-express:
    image: mongo-express:1.0.0-alpha.4
    container_name: mongo-express
    depends_on:
      - mongo
    ports:
      - "8084:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
    networks:
      - microservices-net

  redis:
    image: redis:7.4
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - microservices-net

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    ports:
      - "5540:5540"
    networks:
      - microservices-net

  postgres-order:
    image: postgres:16-alpine
    container_name: postgres-order
    environment:
      POSTGRES_DB: orderdb
      POSTGRES_USER: order
      POSTGRES_PASSWORD: order
    ports:
      - "5433:5432"
    networks:
      - microservices-net

  postgres-inventory:
    image: postgres:16-alpine
    container_name: postgres-inventory
    environment:
      POSTGRES_DB: inventorydb
      POSTGRES_USER: inventory
      POSTGRES_PASSWORD: inventory
    ports:
      - "5434:5432"
    networks:
      - microservices-net

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - microservices-net

  product-service:
    build: ./product-service
    container_name: product-service
    depends_on:
      - mongo
      - redis
    ports:
      - "8081:8081"
    networks:
      - microservices-net

  order-service:
    build: ./order-service
    container_name: order-service
    depends_on:
      - postgres-order
    ports:
      - "8082:8082"
    networks:
      - microservices-net

  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    depends_on:
      - postgres-inventory
    ports:
      - "8083:8083"
    networks:
      - microservices-net

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    depends_on:
      - product-service
      - order-service
      - inventory-service
    ports:
      - "8080:8080"
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge
