server:
  port: 8081

spring:
  application:
    name: product-service
  data:
    mongodb:
      uri: mongodb://mongo:27017/productdb
  redis:
    host: redis
    port: 6379
  cache:
    type: redis

logging:
  level:
    org.springframework.cache: DEBUG
